<h2>Register</h2>
<link rel="stylesheet" href="registerView/registerViewStyle.css">
<div ng-controller="RegisterCtrl as ctrl">
    <div class="row centered-block" ng-show="ctrl.successfulRegistration()">
        <div class="col-md-6 text-center centered-block">
            <div class="alert alert-success centered-block">
                You are now successfully registered!
            </div>
        </div>
    </div>

    <form ng-show="!ctrl.successfulRegistration()">
        <div class="form-group">
            <label for="username">Username:</label> <input type="text"
                                                           class="form-control" id="username" name="username"
                                                           ng-model="ctrl.credentials.login"/>
        </div>
        <div class="alert alert-danger" ng-show="!ctrl.validLogin()">
            Login should be at least 4 letters long;
        </div>
        <div class="form-group">
            <label for="password">Password:</label> <input type="password"
                                                           class="form-control" id="password" name="password"
                                                           ng-model="ctrl.credentials.password"/>
        </div>
        <div class="alert alert-danger" ng-show="!ctrl.validPassword()">
            Password should be at least 6 letters long.
        </div>
        <div class="form-group">
            <label for="password">Confirm Password:</label> <input type="password"
                                                                   class="form-control" id="confirm_password"
                                                                   name="confirmPassword"
                                                                   ng-model="ctrl.credentials.confirmPassword"/>
        </div>

        <div class="alert alert-danger" ng-show="!ctrl.validConfirmPassword()">
            Passwords mismatch.
        </div>
        <div class="alert alert-danger" ng-show="!ctrl.success">
            There was a problem with registerying your user. Please try again.
        </div>
        <button type="submit" ng-disabled="!ctrl.validConfirmPassword()" class="btn btn-primary form-control"
                ng-click="ctrl.registerUser()">Register
        </button>
    </form>
</div>
