<h2>Create Colony</h2>
<link rel="stylesheet" href="viewCreateColony/viewCreateColony.css"></link>
<div ng-controller="CreateColonyCtrl as ctrl">
    <div ng-if="ctrl.isFieldEmpty()">
        <div class="container col-md-10">
            <form>
                <div class="row col-md-12 form-group">
                    <div class="col-md-3">
                        <label for="name">Colony Name:</label>
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" id="name"
                               ng-model="ctrl.createdColony.colonyName">
                    </div>
                </div>
                <div class="row col-md-12 form-group">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="submit" ng-click="ctrl.createColony()">
                    </div>
                </div>
                <div class="col-md-12" ng-if="ctrl.serverResponded" id="server-response">
                    <div ng-if="ctrl.success">Success, new colony has been created!</div>
                    <div class="text-warning" ng-if="!ctrl.success">Error! Unable to add this colony.</div>
                </div>
            </form>
        </div>
    </div>
    <div ng-if="!ctrl.isFieldEmpty() && ctrl.lots.length != 0">
        <!--kolonia-->
        <div class="colony-frame">
            <div ng-repeat="lot in ctrl.lots"
                 style="left:{{lot.x}}px !important;top:{{lot.y}}px !important;width:100px;height:100px"
                 class="colony-lot-frame" ng-click="ctrl.editColonyLot(lot.index)">
            </div>
            <img ng-repeat="lot in ctrl.lots" class="colony-lot-frame" ng-if="lot.image !== ''"
                 style="left:{{lot.x}}px !important;top:{{lot.y}}px !important;width:100px;height:100px"
                 src="{{lot.image}}" ng-click="ctrl.editColonyLot(lot.index)"/>
            <!--<rect height="100" width="100" x="47%" y="47%" class="colony-lot-frame"-->
            <!--ng-click="ctrl.editColonyLot(0)"></rect>-->
            <!--<rect height="100" width="100" x="47%" y="7%" class="colony-lot-frame"-->
            <!--ng-click="ctrl.editColonyLot(1)"></rect>-->
            <!--<rect height="100" width="100" x="7%" y="47%" class="colony-lot-frame"-->
            <!--ng-click="ctrl.editColonyLot(2)"></rect>-->
            <!--<rect height="100" width="100" x="47%" y="82%" class="colony-lot-frame"-->
            <!--ng-click="ctrl.editColonyLot(3)"></rect>-->
            <!--<rect height="100" width="100" x="87%" y="47%" class="colony-lot-frame"-->
            <!--ng-click="ctrl.editColonyLot(4)"></rect>-->
            <!--<rect height="100" width="100" x="87%" y="82%" class="colony-lot-frame"-->
            <!--ng-click="ctrl.editColonyLot(5)"></rect>-->
            <!--<rect height="100" width="100" x="7%" y="82%" class="colony-lot-frame"-->
            <!--ng-click="ctrl.editColonyLot(6)"></rect>-->
        </div>
    </div>
</div>
