.colony-frame {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 650px;
    border: 1px solid #f00;
    background: url("../images/grass_bg.png") repeat;
}

.colony-lot-frame {
    position: absolute;
    border: 1px solid #a06800;
    display: block;
    fill-opacity: 0.51;
}

.building {
    width: 100px;
    height: 100px;
}

.academy {
    background: url("../images/academy.png");
}

.townhall {
    background: url("../images/townhall.png");
}

.farm {
    background: url("../images/farm.png");
}

.household {
    background: url("../images/household.png");
}

.sawmill {
    background: url("../images/sawmill.png");
}

.stonemason {
    background: url("../images/stonemason.png");
}