.row-height{
    height: 100px !important;
}

.field-frame {
    margin: 0;
    padding: 0;
    width: 100px !important;
    height: 100px !important;
    max-width: 100px;
    max-height: 100px;
    border: 0;
}

.paddingLess {
    padding: 0;
}

.marginLess {
    margin: 0;
}

.forest {
    background-image: url("../images/forest.png");
}

.sea {
    background-image: url("../images/see.png");
}

.swamp {
    background-image: url("../images/swamp.png");
}

.mountain {
    background-image: url("../images/mountain.png");
}

.grass {
    background-image: url("../images/grass.png");
}

.forestLegend {
    width: 20px;
    height: 20px;
    background-color: green;
}

.seaLegend {
    width: 20px;
    height: 20px;
    background-color: blue;
}

.swampLegend {
    width: 20px;
    height: 20px;
    background-color: brown;
}

.mountainLegend {
    width: 20px;
    height: 20px;
    background-color: darkslategrey;
}

.grassLegend {
    width: 20px;
    height: 20px;
    background-color: lightgreen;
}
