<h2>Preview world</h2>
<link rel="stylesheet" href="viewWorldPreview/viewWorldPreview.css"></link>
<div ng-controller="WorldPreviewCtrl as ctrl">
    <div class="container col-md-10">
        <form>
            <div class="row col-md-12 form-group">
                <div class="col-md-3">
                    <label for="worlds">Select world:</label>
                </div>
                <div class="col-md-6">
                    <select class="form-control" id="worlds" ng-model="ctrl.selectedWorld"
                            ng-change="ctrl.getWorldFields()">
                        <option ng-repeat="world in ctrl.worlds" ng-value="world.id">{{world.name}}</option>
                    </select>
                </div>
            </div>

            <div class="row col-md-12" ng-if="ctrl.selectedWorld && ctrl.selectedWorldSize">
                <div>
                    <div class="row row-height paddingLess marginLess"
                         ng-repeat="n in ctrl.range(ctrl.selectedWorldSize)">
                        <div class="col paddingLess marginLess" ng-repeat="x in ctrl.range(ctrl.selectedWorldSize)">

                            <button class="field-frame grass" ng-click="ctrl.addColony(ctrl.fields[(n*ctrl.selectedWorldSize) + x].id)"
                                    ng-if="ctrl.fields[(n*ctrl.selectedWorldSize) + x].fieldType === 'GRASS'">
                            </button>

                            <button class="field-frame mountain"
                                    ng-if="ctrl.fields[(n*ctrl.selectedWorldSize) + x].fieldType === 'MOUNTAIN'">
                            </button>

                            <button class="field-frame swamp"
                                    ng-if="ctrl.fields[(n*ctrl.selectedWorldSize) + x].fieldType === 'SWAMP'">
                            </button>

                            <button class="field-frame forest"
                                    ng-if="ctrl.fields[(n*ctrl.selectedWorldSize) + x].fieldType === 'FOREST'">
                            </button>

                            <button class="field-frame sea"
                                    ng-if="ctrl.fields[(n*ctrl.selectedWorldSize) + x].fieldType === 'SEA'">
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="col-md-12" ng-if="ctrl.serverResponded" id="server-response">-->
            <!--<div ng-if="ctrl.success">Success, new world has been created!</div>-->
            <!--<div class="text-warning" ng-if="!ctrl.success">Error! Unable to add this world.</div>-->
            <!--</div>-->
        </form>
    </div>
</div>