<link rel="stylesheet" href="editColonyLot/viewEditColonyLot.css"></link>
<div ng-controller="EditColonyLotCtrl as ctrl">
    <input class="form-control col-md-3" type="button" ng-click="ctrl.redirectToColony()" value="Back to Colony view">
    <h2>Edit building on lot : {{ctrl.currentLotId}}</h2>
    <div class="row col-md-12">
        <div class="container col-md-6">
            <div class="row col-md-12">
                <div class="col-md-6">
                    <label for="position">Lot position:</label>
                </div>
                <div class="col-md-6" id="position">
                    {{ctrl.lot.position}}
                    <!--<span ng-model="ctrl.lot.position" id="position"></span>-->
                </div>
            </div>

            <div class="row col-md-12">
                <div class="col-md-6">
                    <label for="id">Lot id:</label>
                </div>
                <div class="col-md-6" id="id">
                    {{ctrl.lot.id}}
                    <!--<span ng-model="ctrl.lot.id" id="id"></span>-->
                </div>
            </div>

            <div class="row col-md-12">
                <div class="col-md-6">
                    <label for="buildingType">Building type:</label>
                </div>
                <div class="col-md-6">
                    {{ctrl.lot.buildingType}}
                    <!--<span ng-model="ctrl.lot.buildingType" id="buildingType"></span>-->
                </div>
            </div>

            <div class="row col-md-12">
                <div class="col-md-6">
                    <label for="level">Building :</label>
                </div>
                <div class="col-md-6">
                    {{ctrl.lot.level}}
                    <!--<span ng-model="ctrl.lot.level" id="level"></span>-->
                </div>
            </div>

            <div class="row col-md-12">
                <div class="col-md-6">
                    <label for="time-to-finish">Time to finish upgrade:</label>
                </div>
                <div class="col-md-6">
                    <span id="timeLeft" ng-model="ctrl.timeToGo"></span>
                    <!--<span id="time-to-finish"></span>-->
                </div>
            </div>
        </div>
        <!--// prawa strona-->
        <div class="col-md-6">
            <div ng-show="ctrl.isEmptyLot()">
                <label for="buildType">Create new building:</label>
                <select class="form-control" ng-model="ctrl.createBuildingDto.buildingType">
                    <option id="buildType" ng-repeat="x in ctrl.buildingTypes" ng-value="x">{{x}}</option>
                </select>
                <input class="form-control" type="button" ng-click="ctrl.build()" value="Build">
            </div>
        </div>
    </div>
</div>