/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
.green{
  background-color: green;
}
.blue{
  background-color: blue;
}
.grey{
  background-color: grey;
}
.brown{
  background-color: brown;
}
.darkGreen{
  background-color: darkgreen;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.logoutButton{
  animation: fadeIn 5s infinite;
  background-color: inherit;
  border: none;
}
