<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" ng-class="{true:'active', false:''}[selectedTab ==='addWorld']">
                <a class="nav-link" href="#!/viewAddWorld">Add World <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" ng-class="{true:'active', false:''}[selectedTab ==='worldPreview']">
                <a class="nav-link" href="#!/viewWorldPreview">World Preview</a>
            </li>
        </ul>
    </div>

    <nav class="nav nav-masthead justify-content-center" ng-if="loggedUser">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Colonies</a>
                <div class="dropdown-menu" aria-labelledby="dropdown">
                    <a class="dropdown-item" ng-repeat="colony in loggedUser.colonies" href="#!/createColony?fieldId={{colony.fieldId}}">{{colony.colonyName}}</a>
                </div>
            </li>
        </ul>
    </nav>

    <nav class="nav nav-masthead justify-content-center" ng-if="!loggedUser">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" ng-class="{true:'active', false:''}[selectedTab ==='register']">
                <a class="nav-link" href="#!/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/login">Login</a>
            </li>
        </ul>
    </nav>
    <nav class="nav nav-masthead justify-content-center" ng-if="loggedUser">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <button class="nav-link logoutButton" ng-click="logout()">Logout</button>
            </li>
        </ul>
    </nav>

</nav>

<main role="main">
    <div class="jumbotron">
        <div class="container">

            <div ng-view></div>
        </div>
    </div>
</main>

<footer class="container">
    <p>&copy; Company SDA 2017-2018 {{$scope.selectedTab}}</p>
    <div>Angular seed app: v<span app-version></span></div>
</footer>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/jquery/dist/jquery.slim.js"></script>
<!--<script src="bower_components/popper.js/dist/popper.js"></script>-->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-md5/angular-md5.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>

<script src="app.js"></script>
<script src="viewAddWorld/viewAddWorld.js"></script>
<script src="viewCreateColony/viewCreateColony.js"></script>
<script src="viewWorldPreview/viewWorldPreview.js"></script>
<script src="editColonyLot/viewEditColonyLot.js"></script>
<script src="loginView/loginView.js"></script>
<script src="registerView/registerView.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
</body>
</html>
