<h2>Login</h2>
<div ng-controller="LoginCtrl as ctrl">
    <div class="alert alert-danger" ng-show="error">
        There was a problem logging in. Please try again.
    </div>
    <form>
        <div class="form-group">
            <label for="username">Username:</label> <input type="text"
                                                           class="form-control" id="username" name="username"
                                                           ng-model="ctrl.credentials.login"/>
        </div>
        <div class="form-group">
            <label for="password">Password:</label> <input type="password"
                                                           class="form-control" id="password" name="password"
                                                           ng-model="ctrl.credentials.password"/>
        </div>
        <button type="submit" ng-click="ctrl.login()" class="btn btn-primary">Submit</button>
    </form>
</div>
