<h2>Create new world</h2>
<div ng-controller="AddWorldCtrl as ctrl">
    <div class="container col-md-10">
        <form>
            <div class="row col-md-12 form-group">
                <div class="col-md-3">
                    <label for="name">World Name:</label>
                </div>
                <div class="col-md-3">
                    <input class="form-control" type="text" id="name"
                           ng-model="ctrl.world.name">
                </div>
            </div>

            <div class="row col-md-12 form-group">
                <div class="col-md-3">
                    <label for="name">World size:</label>
                </div>
                <div class="col-md-3">
                    <input class="form-control" type="number" id="sizeRowsColumns"
                           ng-model="ctrl.world.sizeRowsColumns">
                </div>
            </div>

            <div class="row col-md-12 form-group">
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                    <input class="form-control" type="submit" ng-click="ctrl.createWorld()">
                </div>
            </div>
            <div class="col-md-12" ng-if="ctrl.serverResponded" id="server-response">
                <div ng-if="ctrl.success">Success, new world has been created!</div>
                <div class="text-warning" ng-if="!ctrl.success">Error! Unable to add this world.</div>
            </div>
        </form>
    </div>
</div>
